<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="database" value="SqlServer" />
        <option name="tempFilePath" value="/var/folders/pk/f81b6b395f5fh3fchvhn5brc0000gn/T/startLearnGo-darwin-10.6-amd64.dylib2249568851436400377" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>